.box{
    width: 600px;
    margin: auto;
    background-color: #292841;
    color: white;
    padding: 1rem;
    border-radius: 6px;
}
.passWordAndCopy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.sliderContainer .lengthContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.checkboxesDiv{
    padding: 10px 0;
    display: grid;
    text-align: left;
    grid-template-columns: auto auto;
    .checkBoxInput{
        padding: 10px 0;
    }
    .checkBoxInput>label{
        padding-left: 5px;
    }
}
.stregthContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.copyBtn>button{
    background-color: #247677;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.generateBtn{
    background-color: #247677;
    font-size: 1rem;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 20px;
    width: 100%;
    border-radius: 6px;
    letter-spacing: 1.1px;
}
.errorMsg{
    color: red;
    padding-bottom: 4px;
}
.strength{
    text-transform: uppercase;
}